@model Movie

@{
    ViewData["Title"] = "Details";

    string CapitalizeFirstLetter(string str)
    {
        if (str == null)
            return null;

        if (str.Length > 1)
            return char.ToUpper(str[0]) + str.Substring(1);

        return str.ToUpper();
    }
}

<div class="details-main">
    <hr />
    <img src="@Model.Poster" class="details-img" />
    <dl class="row details-info">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Genre
        </dd>
        <dt class="col-sm-2">
            Runtime
        </dt>
        <dd class="col-sm-10">
            @Model.Runtime
        </dd>
        <dt class="col-sm-2">
            Released
        </dt>
        <dd class="col-sm-10">
            @Model.Year
        </dd>
        <dt class="col-sm-2">
            Plot
        </dt>
        <dd class="col-sm-10">
            @Model.Plot
        </dd>
        <dt class="col-sm-2">
            Director
        </dt>
        <dd class="col-sm-10">
            @Model.Director
        </dd>
        <dt class="col-sm-2">
            Writer
        </dt>
        <dd class="col-sm-10">
            @Model.Writer
        </dd>
        <dt class="col-sm-2">
            Actors
        </dt>
        <dd class="col-sm-10">
            @Model.Actors
        </dd>
        <dt class="col-sm-2">
            Awards
        </dt>
        <dd class="col-sm-10">
            @Model.Awards
        </dd>
        <h2>Ratings</h2>
        <dd class="col-sm-10">
            <ul class="rating-list">
                @if (Model.Ratings != null)
                {
                    @foreach (var rating in Model.Ratings)
                    {
                        <li>
                            @{
                                string imageName = "";
                                switch (rating.Source)
                                {
                                    case "Internet Movie Database":
                                        imageName = "imdb.png";
                                        break;
                                    case "Metacritic":
                                        imageName = "metacritic.png";
                                        break;
                                    case "Rotten Tomatoes":
                                        imageName = "rotten_tomatoes.png";
                                        break;
                                }
                            }
                            <img class="rating-img" src="/images/icons/@imageName">
                            <p class="rating-score">@rating.Value</p>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <p>No ratings found</p>
                    </li>
                }
            </ul>
        </dd>
        <h2>Streaming options</h2>
        <dd class="col-sm-10">
            <ul class="stream-list">
                @if (Model.StreamingServices != null)
                {
                    @foreach (var stream in Model.StreamingServices)
                    {
                        <li>
                            <a href="@stream.Link"><img class="stream-img" src="/images/icons/@(stream.ServiceName).png"></a>
                            <p>@CapitalizeFirstLetter(stream.Type)@(stream.Price != null ? "," : "") @stream.Price</p>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <p>No streaming options found</p>
                    </li>
                }

            </ul>
        </dd>
    </dl>
</div>
<div class="detail-buttons">
    <input type="button" value="Remove" onclick="location.href='@Url.Action("Remove", "Movie")?movieId=@Model.Id'" />
    <input type="button" value="Generate Image" onclick="location.href='@Url.Action("ImageAI", "Movie")?movieId=@Model.Id'" />
    <input type="button" value="Back to menu" onclick="location.href='@Url.Action("Index", "Movie")'" />
</div>
